
<!-- <section class="about-page">
  <div class="container">
    {description}
  </div>
</section> -->

<section class="about-page bg-white">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="title-o wow fadeInUp">{about_title}</div>
      </div>
      <div class="col-md-6 pe-md-5">
        <h1 class="wow fadeInUp">{sub_title}</h1>
      </div>
      <div class="col-md-6">
        {about_teaser}
      </div>
    </div>
    {about_description}
  </div>
</section>

<section class="testimonials d-none">
  <div class="title-b fs-16 text-center wow fadeInUp">{testimonials_sub_title}</div>
  <h2 class="text-center wow fadeInUp">{testimonials_teaser}</h2>
  <div class="carousel-testi">
    <div class="owl-carousel owl-theme owl-testimonials">
      {list_testimonial}
      <div class="item">
        <div class="f-testimonials wow fadeInUp">
          <div class="rating">
            {rating}
          </div>
          <p>{testimonial_description}</p>
          <div class="user-testi">
            <div class="thumb"><img src="{testimonial_img}" alt=""></div>
            <div class="desc">
              <h4>{testimonial_title}</h4>
              <p>{testimonial_sub_title}</p>
            </div>
          </div>
        </div>
      </div>
      {/list_testimonial}
    </div>
  </div>
</section>

<section class="faq hide">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-7">
        <div class="fs-16 ls-3 mb-3 wow fadeInUp">{faq_sub_title}</div>
        <h2 class="mb-4 wow fadeInUp">{faq_teaser}</h2>
        <p class="wow fadeInUp">{faq_description}</p>
        <div class="accordion mt-5" id="accordionTestimonials">
          {list_faq}
          <div class="accordion-item wow fadeInUp">
            <h2 class="accordion-header" id="heading{faq_id}">
              <button class="accordion-button {collapsed}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{faq_id}" aria-expanded="true" aria-controls="collapse{faq_id}">
                {title}
              </button>
            </h2>
            <div id="collapse{faq_id}" class="accordion-collapse collapse {collapsed_show}" aria-labelledby="heading{faq_id}" data-bs mt-5-parent="#accordionTestimonials">
              <div class="accordion-body">
                {teaser}
              </div>
            </div>
          </div>
          {/list_faq}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="need-urgent">
  <div class="container text-center">
    <h3 class="wow fadeInUp">{lang_need_urgent}</h3>
    <p class="wow fadeInUp">{lang_need_urgent_offer}</p>
    <div class="text-center">
      <div class="d-inline-flex btn-nu">
        <a href="#" class="btn btn-yellow-outline wow fadeInLeft">
          <i>{lang_need_urgent_assistance}</i>
          <i>{single_phone}</i>
        </a>
        <span class="wow fadeInUp {hide_login_member}">or</span>
        <a href="{base_url_lang}clientarea" class="btn btn-yellow wow fadeInRight {hide_login_member}">{lang_need_urgent_join}</a>
      </div>
    </div>
  </div>
</section>