<section class="article">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="f-article">
          <div class="list-article">
            {list_articles}
            <div class="list-art-item">
              <img src="{img}" alt="">
              <div class="d-flex">
                <!-- <a href="#">2 comments</a> -->
                <span class="date-art">{created_at}</span>
              </div>
              <h2><a href="{base_url_lang}articles/detail/{uri_path}">{title}</a></h2>
              <p>{teaser}</p>
            </div>
            {/list_articles}
          </div>
          <div class="top-article">
            <h5 class="mb-4">TOP ARTICLES</h5>
            <a href="article-detail.html" class="list-top">
              <img src="images/toparticle.jpg" alt="">
              <span>Dolor sit amet, consectetur adipiscing elit, sed do</span>
            </a>
            <a href="article-detail.html" class="list-top">
              <img src="images/toparticle.jpg" alt="">
              <span>Dolor sit amet, consectetur adipiscing elit, sed do</span>
            </a>
            <a href="article-detail.html" class="list-top">
              <img src="images/toparticle.jpg" alt="">
              <span>Dolor sit amet, consectetur adipiscing elit, sed do</span>
            </a>
            <div class="tags">
              <h5 class="mb-4 mt-5">TAGS</h5>
              <a href="#">Promo</a>
              <a href="#">Dolidays</a>
              <a href="#">Gift</a>
              <a href="#">Chrismas</a>
              <a href="#">Giveaway</a>
              <a href="#">Tips</a>
              <a href="#">New Year</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="need-urgent">
  <div class="container text-center">
    <h3 class="wow fadeInUp">{lang_need_urgent}</h3>
    <p class="wow fadeInUp">{lang_need_urgent_offer}</p>
    <div class="text-center">
      <div class="d-inline-flex btn-nu">
        <a href="#" class="btn btn-yellow-outline wow fadeInLeft">
          <i>{lang_need_urgent_assistance}</i>
          <i>{single_phone}</i>
        </a>
        <span class="wow fadeInUp">or</span>
        <a href="{base_url_lang}clientarea" class="btn btn-yellow wow fadeInRight">{lang_need_urgent_join}</a>
      </div>
    </div>
  </div>
</section>
