<section class="client-area">
    <div class="container">
        <h2 class="text-center wow fadeInUp mb-3">Why Should You Join <b><span class="text-blue">Client Area</span></b></h2>
        <div class="text-center wow fadeInUp mb-5"><span class="w-50 d-inline-block"><i>Let’s Register The Client Area To Get The Many Benefits That You Will Get</i></span></div>
        <div class="row">
            <div class="col-md-6 pe-5">
                <img src="{base_url}asset/images/clients.jpg" alt="" class="w-100 wow fadeInLeft">
            </div>
            <div class="col-md-6">
                <h4 class="mb-5 wow fadeInUp"><b>By joining the Client Area, get information for free consultations, monthly discount programs and access to premium events.</b></h4>
                <ul class="list-about">
                    <li class="wow fadeInUp">
                        <div class="thumb"><img src="{base_url}asset/images/Icon/medicine.svg" alt=""></div>
                        <div>
                            <h3>Free consultation about TKDN</h3>
                            <p>Free consultation on local content levels for products. So that every product produced passes the TKDN certification</p>
                        </div>
                    </li>
                    <li class="wow fadeInUp">
                        <div class="thumb"><img src="{base_url}asset/images/Icon/pulse.svg" alt=""></div>
                        <div>
                            <h3>Monthly Discount Program</h3>
                            <p>Provide information on attractive discount programs and updates every month</p>
                        </div>
                    </li>
                    <li class="wow fadeInUp">
                        <div class="thumb"><img src="{base_url}asset/images/Icon/hourglass-end.svg" alt=""></div>
                        <div>
                            <h3>Access to premium events</h3>
                            <p>Providing access and invitations to events aimed at empowering our clients' businesses</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="login-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center wow fadeInLeft"><img src="{base_url}asset/images/client-form.jpg" alt=""></div>
            <div class="col-lg-4 col-md-5">
                <form action="" id="form1">
                    <h4 class="mb-5"><b>Sign In Client Area</b></h4>
                    <div class="mb-4">
                        <label for="" class="mb-2">E-mail <span class="text-red">*</span></label>
                        <input type="email" class="form-control form-mjm" name="email" id="email" required>
                    </div>
                    <div class="mb-4">
                        <label for="" class="mb-2">Password <span class="text-red">*</span></label>
                        <input type="password" class="form-control form-mjm" name="password" id="password" required>
                    </div>
                    <div class="row">
                        <div class="col d-flex align-items-center fs-16"><a href="{base_url_lang}clientarea/register">Create Account?</a></div>
                        <div class="col text-end">
                            <button class="btn btn-blue m-auto py-3 px-5 btn-rounded d-inline-flex" id="login_btn">Sign In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>