<section class="maps-contact">
  <div class="desc">
    <iframe src="{iframe_gmaps}" style="border:0;height: 100%;width:100%" allowfullscreen="" loading="lazy"></iframe>
  </div>
</section>

<section class="list-mursmedic">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="listmur-child row">
          <div class="d-flex align-items-center col-md-4 h-100">
            <div class="card wow fadeInUp w-100" data-wow-duration="1.5s">
              <div class="card-body text-center">
                <img src="{base_url}asset/images/Icon/location-alt.svg" alt="" width="36" class="img-blue">
                <h3 class="text-uppercase">{lang_contact_address}</h3>
                <p>{address}</p>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center col-md-4 h-100">
            <div class="card wow fadeInUp w-100" data-wow-duration="2s">
              <div class="card-body text-center">
                <img src="{base_url}asset/images/Icon/phone-call.svg" alt="" width="36" class="img-blue">
                <h3 class="text-uppercase">{lang_contact_call_us}</h3>
                <p>{number_phone}</p>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center col-md-4 h-100">
            <div class="card wow fadeInUp w-100" data-wow-duration="2.5s">
              <div class="card-body text-center">
                <img src="{base_url}asset/images/Icon/paper-plane.svg" alt="" width="36" class="img-blue">
                <h3 class="text-uppercase">{lang_email_us}</h3>
                <p>{email_address}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="form-contact">
  <div class="container">
    <h2 class="text-center wow fadeInUp mb-3"><b>{lang_get_in_touch}</b></h2>
    <div class="text-center wow fadeInUp mb-5"><span class="w-50 d-inline-block">{lang_content_contact_us}</div>
      <form action="" id="form1">
        <div class="row row-fc">
            <div class="col-md-6 mb-5 col-fc wow fadeInUp">
              <label for="">{lang_contact_fullname}</label>
              <input type="text" class="form-control" required name="name" id="name">
            </div>
            <div class="col-md-6 mb-5 col-fc wow fadeInUp">
              <label for="">{lang_contact_email}</label>
              <input type="email" class="form-control" required name="email" id="email">
            </div>
            <div class="col-md-6 mb-5 col-fc wow fadeInUp">
              <label for="">{lang_contact_subject}</label>
              <input type="text" class="form-control" required name="subject" id="subject">
            </div>
            <div class="col-md-6 mb-5 col-fc wow fadeInUp">
              <label for="">{lang_contact_whatsapp}</label>
              <input type="text" class="form-control" required name="phone_number" id="phone_number">
            </div>
            <div class="col-md-12 mb-5 col-fc wow fadeInUp">
              <label for="">{lang_contact_message}</label>
              <textarea class="form-control" required rows="5" name="message" id="message"></textarea>
            </div>
            <div class="col-md-12 mb-5 col-fc text-center wow fadeInUp">
              <button class="btn btn-blue m-auto px-5" id="contact_us_btn">{lang_contact_send_message}</button>
            </div>
        </div>
      </form>
  </div>
</section>

<section class="need-urgent">
  <div class="container text-center">
    <h3 class="wow fadeInUp">{lang_need_urgent}</h3>
    <p class="wow fadeInUp">{lang_need_urgent_offer}</p>
    <div class="text-center">
      <div class="d-inline-flex btn-nu">
        <a href="#" class="btn btn-yellow-outline wow fadeInLeft">
          <i>{lang_need_urgent_assistance}</i>
          <i>{single_phone}</i>
        </a>
        <span class="wow fadeInUp">or</span>
        <a href="{base_url_lang}clientarea" class="btn btn-yellow wow fadeInRight">{lang_need_urgent_join}</a>
      </div>
    </div>
  </div>
</section>
<script src='https://www.google.com/recaptcha/api.js?render={recaptcha_site_key}'></script>