<section class="bg-blue-title pt-165-m">
  <div class="container text-center">
    <h3 class="wow fadeInUp"><b>Our <span class="text-blue">Event</span></b></h3>
    <p class="wow fadeInUp">“We Commit To Support Customer To Provide Excellent Service In Forms Of Product And System”</p>
  </div>
</section>
<section class="p-events">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="event-detail.html" class="list-event main-le wow fadeInUp">
          <div class="thumb"><img src="{base_url}asset/images/event.jpg" alt=""></div>
          <div class="desc">
            <span>Event</span>
            <h2>Performance marketing agencies specialize</h2>
            <i>7 Dec, 2021</i>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a href="event-detail.html" class="list-event main-le wow fadeInUp">
          <div class="thumb"><img src="{base_url}asset/images/event.jpg" alt=""></div>
          <div class="desc">
            <span>Event</span>
            <h2>Digital marketing channels</h2>
            <i>7 Dec, 2021</i>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="event-detail.html" class="list-event wow fadeInUp">
          <div class="thumb"><img src="{base_url}asset/images/event.jpg" alt=""></div>
          <div class="desc">
            <span>Event</span>
            <h2>Agency is a business you hire to outsource</h2>
            <i>7 Dec, 2021</i>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="event-detail.html" class="list-event wow fadeInUp">
          <div class="thumb"><img src="{base_url}asset/images/event.jpg" alt=""></div>
          <div class="desc">
            <span>Event</span>
            <h2>Outsource your digital marketing efforts</h2>
            <i>7 Dec, 2021</i>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="event-detail.html" class="list-event wow fadeInUp">
          <div class="thumb"><img src="{base_url}asset/images/event.jpg" alt=""></div>
          <div class="desc">
            <span>Event</span>
            <h2>Your business with a variety of digital</h2>
            <i>7 Dec, 2021</i>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="event-detail.html" class="list-event wow fadeInUp">
          <div class="thumb"><img src="{base_url}asset/images/event.jpg" alt=""></div>
          <div class="desc">
            <span>Event</span>
            <h2>Agency is a business you hire to outsource</h2>
            <i>7 Dec, 2021</i>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="event-detail.html" class="list-event wow fadeInUp">
          <div class="thumb"><img src="{base_url}asset/images/event.jpg" alt=""></div>
          <div class="desc">
            <span>Event</span>
            <h2>Outsource your digital marketing efforts</h2>
            <i>7 Dec, 2021</i>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="event-detail.html" class="list-event wow fadeInUp">
          <div class="thumb"><img src="{base_url}asset/images/event.jpg" alt=""></div>
          <div class="desc">
            <span>Event</span>
            <h2>Your business with a variety of digital</h2>
            <i>7 Dec, 2021</i>
          </div>
        </a>
      </div>
    </div>
    <div class="text-center mt-5 wow fadeInUp">
      <nav aria-label="">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#"><i data-feather="chevron-left"></i></a></li>
          <li class="page-item"><a class="page-link active" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#"><i data-feather="chevron-right"></i></a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<section class="need-urgent">
  <div class="container text-center">
    <h3 class="wow fadeInUp">{lang_need_urgent}</h3>
    <p class="wow fadeInUp">{lang_need_urgent_offer}</p>
    <div class="text-center">
      <div class="d-inline-flex btn-nu">
        <a href="#" class="btn btn-yellow-outline wow fadeInLeft">
          <i>{lang_need_urgent_assistance}</i>
          <i>{single_phone}</i>
        </a>
        <span class="wow fadeInUp {hide_login_member}">or</span>
        <a href="{base_url_lang}clientarea" class="btn btn-yellow wow fadeInRight {hide_login_member}">{lang_need_urgent_join}</a>
      </div>
    </div>
  </div>
</section>