
<section class="choose-mursmedic p-events">
  <div class="container">
    <h2 class="text-center wow fadeInUp mb-3">Why Choose <b><span class="text-red">Mursmedic Jaya Mandiri</span></b></h2>
    <div class="text-center wow fadeInUp mb-5"><span class="w-50 d-inline-block"><i>“We Strive To Become Preferred Partner To Establish Compliant Business And Deliver Business Growth With High Quality Household And Medical Devices Manufacturing Process In Accordance With Local And International Standards.”</i></span></div>
    <div class="row row-choose">
      <div class="col-sm-6 col-md-4 col-choose">
        <a href="events-detail.html" class="card wow fadeInUp">
          <div class="card-body text-center">
            <img src="{base_url}asset/images/Icon/diploma.svg" alt="" class="img-blue" height="50">
            <h3>Quality</h3>
            <p>Flawless & efficient product design, which results in high quality product standard.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-choose">
        <a href="events-detail.html" class="card wow fadeInUp">
          <div class="card-body text-center">
            <img src="{base_url}asset/images/Icon/vector-alt.svg" alt="" class="img-blue" height="50">
            <h3>Regulatory</h3>
            <p>Strong technical data which is easily adopted for meeting regulatory requirement.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-choose">
        <a href="events-detail.html" class="card wow fadeInUp">
          <div class="card-body text-center">
            <img src="{base_url}asset/images/Icon/shield-check.svg" alt="" class="img-blue" height="50">
            <h3>Comprehensive</h3>
            <p>Comprehensive compliant data from product development to production stage.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-choose">
        <a href="events-detail.html" class="card wow fadeInUp">
          <div class="card-body text-center">
            <img src="{base_url}asset/images/Icon/search-alt.svg" alt="" class="img-blue" height="50">
            <h3>Transparency</h3>
            <p>Transparent cost component to facilitate healthy return for product owner.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-choose">
        <a href="events-detail.html" class="card wow fadeInUp">
          <div class="card-body text-center">
            <img src="{base_url}asset/images/Icon/shield-check.svg" alt="" class="img-blue" height="50">
            <h3>Cost</h3>
            <p>We always prioritize quality even at the lowest possible cost, and we can decide according to your needs.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-choose">
        <a href="events-detail.html" class="card wow fadeInUp">
          <div class="card-body text-center">
            <img src="{base_url}asset/images/Icon/world.svg" alt="" class="img-blue" height="50">
            <h3>Experience</h3>
            <p>Experienced personnel with strong knowledge in medical and healthcare industries.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="need-urgent">
  <div class="container text-center">
    <h3 class="wow fadeInUp">{lang_need_urgent}</h3>
    <p class="wow fadeInUp">{lang_need_urgent_offer}</p>
    <div class="text-center">
      <div class="d-inline-flex btn-nu">
        <a href="#" class="btn btn-yellow-outline wow fadeInLeft">
          <i>{lang_need_urgent_assistance}</i>
          <i>{single_phone}</i>
        </a>
        <span class="wow fadeInUp {hide_login_member}">or</span>
        <a href="{base_url_lang}clientarea" class="btn btn-yellow wow fadeInRight {hide_login_member}">{lang_need_urgent_join}</a>
      </div>
    </div>
  </div>
</section>