<section class="bg-blue-title pt-165-m">
  <div class="container text-center">
    <h3 class="wow fadeInUp">{event_sub_title}</h3>
    <p class="wow fadeInUp">{event_teaser}</p>
  </div>
</section>
<section class="p-events">
  <div class="container">
    <div class="row">
      {list_event_one}
      <div class="col-md-6">
        <a href="{base_url_lang}event/detail/{uri_path}" class="list-event main-le wow fadeInUp">
          <div class="thumb"><img src="{img}" alt=""></div>
          <div class="desc">
            <span>Event</span>
            <h2>{title}</h2>
            <i>{event_date}</i>
          </div>
        </a>
      </div>
      {/list_event_one}
    </div>
    <div class="row">
      {list_event_two}
      <div class="col-md-4">
        <a href="{base_url_lang}event/detail/{uri_path}" class="list-event wow fadeInUp">
          <div class="thumb"><img src="{img}" alt=""></div>
          <div class="desc">
            <span>Event</span>
            <h2>{title}</h2>
            <i>{event_date}</i>
          </div>
        </a>
      </div>
      {/list_event_two}
    </div>
    <!-- <div class="text-center mt-5 wow fadeInUp">
      <nav aria-label="">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#"><i data-feather="chevron-left"></i></a></li>
          <li class="page-item"><a class="page-link active" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#"><i data-feather="chevron-right"></i></a></li>
        </ul>
      </nav>
    </div> -->
  </div>
</section>
<section class="need-urgent">
  <div class="container text-center">
    <h3 class="wow fadeInUp">{lang_need_urgent}</h3>
    <p class="wow fadeInUp">{lang_need_urgent_offer}</p>
    <div class="text-center">
      <div class="d-inline-flex btn-nu">
        <a href="#" class="btn btn-yellow-outline wow fadeInLeft">
          <i>{lang_need_urgent_assistance}</i>
          <i>{single_phone}</i>
        </a>
        <span class="wow fadeInUp {hide_login_member}">or</span>
        <a href="{base_url_lang}clientarea" class="btn btn-yellow wow fadeInRight {hide_login_member}">{lang_need_urgent_join}</a>
      </div>
    </div>
  </div>
</section>