<section class="banner-index">
  <img src="{base_url}asset/images/slider.jpg" alt="" class=" wow fadeInDown" data-wow-duration="1s">
  <div class="desc">
    <div class="container wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
      <h1>Welcome to Mursmedic Jaya Mandiri</h1>
      <h3>Get your local medical device and household now!</h3>
      <a href="#" class="btn btn-yellow d-inline-block mt-5">GET STARTED NOW</a>
    </div>
  </div>
</section>

<section class="list-mursmedic">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card card-listmur wow fadeInUp" data-wow-duration="1s">
          <div class="card-body p-5">
            <h2 class="mb-4">{choose_sub_title}</h2>
            {choose_teaser}
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="listmur-child row">
          {choose_description}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <h2 class="text-center wow fadeInUp mb-3">{find_out_sub_title}</h2>
    <div class="text-center wow fadeInUp mb-5"><span class="w-50 d-inline-block">{find_out_teaser}</span></div>
    <div class="row">
      <div class="col-md-6 pe-5">
        <img src="{find_out_img}" alt="" class="w-100 wow fadeInLeft">
      </div>
      <div class="col-md-6 d-flex align-items-center">
        {find_out_description}
      </div>
    </div>
  </div>
</section>

<section class="process-tolling">
  <div class="container">
    <h2 class="text-center wow fadeInUp mb-3 text-white">{process_sub_title}</h2>
    <div class="text-center wow fadeInUp mb-5 text-white"><span class="w-50 d-inline-block">{process_teaser}</span></div>
    <div class="row">
      <div class="col">
        <div class="slider-pt">
          <div class="slider-data swiper-container">
            <div class="swiper-wrapper">    
              {list_process}
              <div class="swiper-slide">
                <div class="card card-spt">
                  <div class="card-body">
                    <div class="thumb"><img src="{img}" alt=""></div>
                    <div class="desc">
                      <div class="icon"><img src="{icon}" alt="" style="width: 100%;padding:10px;"></div>
                      <h3>{title}</h3>
                      <p>{description}</p>
                    </div>
                  </div>
                </div>
              </div>   
              {/list_process}
            </div>   
          </div>
          <div class="swiper-prev"><i data-feather="chevron-left"></i></div>
          <div class="swiper-next"><i data-feather="chevron-right"></i></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="choose-mursmedic">
  <div class="container">
    <h2 class="text-center wow fadeInUp mb-3">{choose_detail_sub_title}</b></h2>
    <div class="text-center wow fadeInUp mb-5"><span class="w-50 d-inline-block">{choose_detail_teaser}</span></div>
    <div class="row row-choose">
      {list_choose}
      <div class="col-sm-6 col-md-4 col-choose">
        <div class="card wow fadeInUp">
          <div class="card-body text-center">
            <img src="{img}" alt="" class="img-blue" height="50">
            <h3>{title}</h3>
            <p>{description}</p>
          </div>
        </div>
      </div>
      {/list_choose}
    </div>
  </div>
</section>

<section class="product-page pt-0">
  <div class="container">
    <h2 class="text-center wow fadeInUp mb-5"><b class="text-red">Portfolio</b></h2>
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-10">
        <div class="row">
          {list_product}
            <div class="col-md-6 home-list-product {show_hide}">
              <a href="{base_url_lang}product/detail/{uri_path}" class="l-product">
                <img src="{img}" alt="">
                <div class="desc">
                  <span>teaser</span>
                  <h2>{title}</h2>
                </div>
              </a>
            </div>
          {/list_product}
          <div class="col-md-12 text-center pt-5 {show_load_more}">
            <a href="#" class="btn btn-load-more wow fadeInUp" id="product-load-more">Load more...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="certifications">
  <div class="container">

  <h2 class="text-center wow fadeInUp mb-3"><b>{certifications_sub_title}</b></h2>
  <div class="text-center wow fadeInUp mb-4"><span class="w-50 d-inline-block">{certifications_teaser}</div>
    <div class="row wow fadeInUp">
      <div class="col-md-12">
        <div class="swiper swiper-certifications">
          <div class="swiper-wrapper">
            {list_certification}
            <div class="swiper-slide">
              <img src="{img}" />
            </div>
            {/list_certification}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="need-urgent">
  <div class="container text-center">
    <h3 class="wow fadeInUp">{lang_need_urgent}</h3>
    <p class="wow fadeInUp">{lang_need_urgent_offer}</p>
    <div class="text-center">
      <div class="d-inline-flex btn-nu">
        <a href="#" class="btn btn-yellow-outline wow fadeInLeft">
          <i>{lang_need_urgent_assistance}</i>
          <i>{single_phone}</i>
        </a>
        <span class="wow fadeInUp {hide_login_member}">or</span>
        <a href="{base_url_lang}clientarea" class="btn btn-yellow wow fadeInRight {hide_login_member}">{lang_need_urgent_join}</a>
      </div>
    </div>
  </div>
</section>