<section class="product-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="owl-carousel owl-theme owl-product-dtl">
            {list_img}
        </div>
      </div>
      <div class="col-md-5 d-flex align-items-center col-desc-prd">
        <div class="desc-prd">
          <h3>{title}</h3>
          {description}
          <!-- <p class="mb-2"><b>Tags:</b></p>
          <div class="tags-prd">
            <a href="#">Perlindungan Seisi Rumah</a>
            <a href="#">Anti Virus</a>
            <a href="#">Disinfectant Spray</a>
          </div> -->
          <a href="{url}" target="_BLANK" class="btn btn-blue d-inline-flex px-5 mt-5">{lang_buy_now} <i class="ms-2" data-feather="shopping-cart"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>