<section class="bg-blue-title">
  <div class="container text-center">
    <h3 class="wow fadeInUp"><b>Our <span class="text-blue">Services</span></b></h3>
    <p class="wow fadeInUp"><i>“We Commit To Support Customer To Provide Excellent Service In Forms Of Product And System”</i></p>
  </div>
</section>
<section class="p-services">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 pe-md-5 mb-20-m">
        <h2><b>“We commit to support customer to provide excellent service in forms of product and system”</b></h2>
      </div>
      <div class="col-sm-6">
        <p>“We strive to become preferred partner to establish compliant business and deliver business growth with high quality household and medical devices manufacturing process in accordance with local and international standards.”</p>
      </div>
      <div class="col-12 mt-5">
        <div class="accordion accordion-flush" id="accordionServices">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <span><img src="{base_url}asset/images/Icon/fill.svg" alt=""></span>
                Product Development
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionServices">
              <div class="accordion-body">
                <div class="acc-services">
                  <div class="thumb">
                    <img src="{base_url}asset/images/clients.jpg" alt="">
                  </div>
                  <div class="desc">
                    <div>
                      <h2 class="mb-4"><b>Creating the product that comply to applicable international literature and current regulation.</b></h2>
                      <p>Other description</p>
                      <ul>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <span><img src="{base_url}asset/images/Icon/interactive.svg" alt=""></span>
                Validation (Process & Method)
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionServices">
              <div class="accordion-body">
                <div class="acc-services">
                  <div class="thumb">
                    <img src="{base_url}asset/images/clients.jpg" alt="">
                  </div>
                  <div class="desc">
                    <div>
                      <h2 class="mb-4"><b>Creating the product that comply to applicable international literature and current regulation.</b></h2>
                      <p>Other description</p>
                      <ul>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <span><img src="{base_url}asset/images/Icon/trophy.svg" alt=""></span>
                Product Development
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionServices">
              <div class="accordion-body">
                <div class="acc-services">
                  <div class="thumb">
                    <img src="{base_url}asset/images/clients.jpg" alt="">
                  </div>
                  <div class="desc">
                    <div>
                      <h2 class="mb-4"><b>Creating the product that comply to applicable international literature and current regulation.</b></h2>
                      <p>Other description</p>
                      <ul>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <span><img src="{base_url}asset/images/Icon/icon-4.png" alt="" class=""></span>
                Product Development
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionServices">
              <div class="accordion-body">
                <div class="acc-services">
                  <div class="thumb">
                    <img src="{base_url}asset/images/clients.jpg" alt="">
                  </div>
                  <div class="desc">
                    <div>
                      <h2 class="mb-4"><b>Creating the product that comply to applicable international literature and current regulation.</b></h2>
                      <p>Other description</p>
                      <ul>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="need-urgent">
  <div class="container text-center">
    <h3 class="wow fadeInUp">{lang_need_urgent}</h3>
    <p class="wow fadeInUp">{lang_need_urgent_offer}</p>
    <div class="text-center">
      <div class="d-inline-flex btn-nu">
        <a href="#" class="btn btn-yellow-outline wow fadeInLeft">
          <i>{lang_need_urgent_assistance}</i>
          <i>{single_phone}</i>
        </a>
        <span class="wow fadeInUp {hide_login_member}">or</span>
        <a href="{base_url_lang}clientarea" class="btn btn-yellow wow fadeInRight {hide_login_member}">{lang_need_urgent_join}</a>
      </div>
    </div>
  </div>
</section>