<section class="banner-page wow fadeInDown">
  <img src="{base_url}asset/images/banner-product.jpg" alt="">
</section>

<section class="product pt-30-m">
  <div class="container">
    <h2 class="title-sec text-start wow fadeInUp mb-5 mb-30-m">{title}</h2>
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="product-detail services-dtl">
          <div class="thumb wow fadeInLeft"><img src="{base_url}asset/images/services1.jpg" alt=""></div>
          <div class="desc wow fadeInRight">
            <div>
              {description}
              <div class="share-dtl mt-5">
                <b>Share:</b>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50b440266b954307"></script>
                <div class="addthis_inline_share_toolbox"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="need-further">
  <div class="container text-center">
    <h3 class="wow fadeInUp mb-4">{lang_need_urgent}</h3>
    <div class="text-center">
      <div class="d-inline-flex">
        <a href="tel:{single_phone}" class="btn btn-outline-light wow fadeInLeft me-3 px-4">{lang_call_us_now}</a>
        <a href="mailto:{email_address}" class="btn btn-outline-light wow fadeInRight px-5">{lang_email_us}</a>
      </div>
    </div>
  </div>
</section>
