<section class="bg-blue-title pt-165-m">
  <div class="container text-center">
    <h3 class="wow fadeInUp">{sub_title}</h3>
    <p class="wow fadeInUp">{teaser}</p>
  </div>
</section>
<section class="p-services">
  <div class="container">
    {description}
  </div>
</section>
<section class="need-urgent">
  <div class="container text-center">
    <h3 class="wow fadeInUp">{lang_need_urgent}</h3>
    <p class="wow fadeInUp">{lang_need_urgent_offer}</p>
    <div class="text-center">
      <div class="d-inline-flex btn-nu">
        <a href="#" class="btn btn-yellow-outline wow fadeInLeft">
          <i>{lang_need_urgent_assistance}</i>
          <i>{single_phone}</i>
        </a>
        <span class="wow fadeInUp {hide_login_member}">or</span>
        <a href="{base_url_lang}clientarea" class="btn btn-yellow wow fadeInRight {hide_login_member}">{lang_need_urgent_join}</a>
      </div>
    </div>
  </div>
</section>